@{
    ViewBag.Title = "GetMyContacts";
    string tenantKey = Request.QueryString["TenantKey"];
    string authToken = Request.QueryString["AuthToken"];
}

<h1>GET api/v1.0/Contacts/GetWhoAmI</h1>

<h2>Description</h2>
<div>Returns information about the Currently Authenticated User.</div>

<h2>Param Input</h2>
@Html.Label("Tenant Key:")
@tenantKey<br /><br />
@Html.Label("Authentication Token:")
@authToken

<h2>Examples</h2>
@Html.Label("C# Code (JSON Format):")
<div id = "csblock" style="display:block;"><xmp>string url = "api/v1.0/Contacts/GetWhoAmI";
HttpClient client = new HttpClient();
client.BaseAddress = new Uri("https://api.connectedcommunity.org/");
client.DefaultRequestHeaders.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));
client.DefaultRequestHeaders.Add("HLTenantKey", "@tenantKey");
client.DefaultRequestHeaders.Add("HLAuthToken", "@authToken");

string whoAmI = null;

HttpResponseMessage response = client.GetAsync(url).Result;
if (response.IsSuccessStatusCode)
{
    whoAmI = response.Content.ReadAsStringAsync().Result;
}</xmp></div>

@Html.Label("Sample Output:")
<div style="font-family:Monospace;"><pre>@MvcHtmlString.Create(Html.Encode(ViewData["getMyContacts"]))</pre></div>
@Html.Label("Javascript Code (JSON Format):")
@{
string htmlText = @"Goes in header:
<script type=""text/javascript"" src=""https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js""></script>

Goes in body:
<script type=""text/javascript"">
    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: 'https://api.connectedcommunity.org/api/v1.0/Contacts/GetMyContacts',
            contentType: 'application/json',
            headers: { 'HLTenantKey': '@tenantKey', 'HLAuthToken': '@authToken' }
        })
        .done(function (data) {
            var strArray = JSON.stringify(data).split("","");
            for (strIndex in strArray) {
                document.write(strArray[strIndex] + ""<br>"");
            }
        });
    });
</script>";
}
<pre>@MvcHtmlString.Create(Html.Encode(htmlText.Replace("@tenantKey", tenantKey).Replace("@authToken", authToken)))</pre>